 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$text-color: RGB(102, 102, 102);
$link-color: RGB(1, 146, 181);
$body-color: RGB(245, 245, 241);
$price-color: RGB(120, 192, 66);

body {
  background: $body-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
  font-size: 12px;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.page-container {
  margin: 0 auto;
  overflow: auto;
}
.outside-header {
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.header {
  margin: 0 auto 10px;
  height: 75px;
  width: 1000px;
  background-color: white;

  .logo {
    display: inline-block;
    margin: 25px auto;
    vertical-align: middle; 
    a img {
      width: 75px;
    }
  }
  .left {
    float: left;
  }
  .search {
    margin-left: 25px;
    display: inline-block;
    input[type="textbox"] {
      height: 34px;
      width: 260px;
      margin-top: 25px;
      border: 1px solid RGB(102, 183, 209);
      border-radius: 3px;
      margin-right: 0;
      padding-top: 0px;
      padding-left: 10px;
      font-size: 16px;
    }

    button {
      margin-left: -5px;
      margin-top: -1px;
      height: 34px;
      width: 82px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      background-color: RGB(102, 183, 209);
      border: 1px solid RGB(102, 183, 209);
      color: white;
      font-size: 16px;
    }
  }

  .right {
    float: right;
    margin-top: 10px;
    margin-right: 55px;
    ul li {
      list-style: none;
      display: inline-block;
      font-size: 14px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .sign-in {
    border: 1px solid $link-color;
    border-radius: 3px;
    padding: 10px;

    &:hover {
      background-color: RGB(240, 251, 253);
      a {
        text-decoration: none;
      }
    }
  }
}

.content {
  overflow: auto;
  margin: 0 auto;
  width: 1000px;
}

.side-bar {
  float: left;
  margin: 0 auto;
  width: 222px;
  margin-right: 25px;
  border-radius: 3px;
}

.side-bar-header {
  padding-bottom: 14px;
  font-weight: bold;
}

@mixin li-spacing() {
    margin: 0;
    padding-bottom: 8px;
}

.side-bar-content {
  font-size: 13px;
  background-color: white;
  overflow: auto;

    input[type="radio"]:checked + label {
     color: $text-color;
     font-weight: bold;
      text-decoration: none;
      cursor: default;
    }

    label {
      color: $link-color;

      &:hover {
        text-decoration: underline;
        cursor: text;
      }
    }


  > div > span {
    font-weight: bold;
    display: block;
  }

  .item-type {
    margin: 0 20px 10px 20px;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
     
    > ul > li {
      @include li-spacing();

      > label {
        margin-left: 5px;
      }
    }
  }
 
  .item-type > ul, .category {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
 
  }

  .side-cats {
    padding-left: 20px;

    > span {
      font-weight: bold;
    }
  }

  .category {
    margin-left: 0px;
    margin-right: 20px;

    li { 
      @include li-spacing();
      padding-left: 10px;
   }

    li:first-child {
      font-weight: bold;
      padding-left: 0;
    }

    &:last-child {
      border-bottom: 1px solid lightgray;
    }
  }

  .price-filter {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid lightgray;
    position: relative;

    input[type="text"] {
     width: 61px;
     height: 34px;
     margin-top: 10px;
     margin-bottom: 20px;
     text-align: center;
     font-weight: bold; 
     border-radius: 3px;
     border: 1px solid lightgray;
    }

    .go {
      width: 34px;
      height: 34px;
      display: inline-block;
      background-color: RGB(235, 235, 234);
      border-radius: 3px;
      border: 1px solid lightgray;
      margin-top: 10px;
      float: right;

      &:hover {
        background-color: lightgray;
      }
      
      &:after {
        position: absolute;
        top: 38px;
        left: 160px;
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent RGB(125, 119, 115);
      }
    }
  }

  .color-filter {
    margin: 14px 14px 14px 14px;
    overflow: auto;
    > div {
      width: 20px;
      height: 20px;
      border: 1px solid lightgray;
      float: left;
      margin-right: 4px;
      border-radius: 3px;
    }
    > span { margin-bottom: 10px; }
    > div:nth-child(2) { background-color: red; }
    > div:nth-child(3) { background-color: orange; }
    > div:nth-child(4) { background-color: yellow; }
    > div:nth-child(5) { background-color: green; }
    > div:nth-child(6) { background-color: blue; }
    > div:nth-child(7) { background-color: purple; }
    > div:nth-child(8) { background-color: black; }
    > div:nth-child(9) { background-color: white; }
  }

  .ordering-options {
    margin: 14px;
    border-bottom: 1px solid lightgray;

    div {
      margin-bottom: 5px;
      margin-top: 10px;
      vertical-align: middle;
    }

    div:last-child {
      margin-bottom: 10px;
    }

    input[type="checkbox"] {
      vertical-align: middle;
    }
    > label {
      margin-left: 5px;
    }
  }

  .shop-location {
    margin: 14px;
    > div {
      margin: 10px 0;

      label {
        margin-left: 5px;
      }
    }
    border-bottom: 1px solid lightgray;
  }

  .ships-to {
    margin: 14px;
    span {
      float: left; 
      margin-bottom: 10px;
    }
    a {
      float: right;
      display: block;
    }

    select {
      clear: both;
      display: block;
      width: 190px;
    }
  }

}




.results {
  float: left;
  margin: 0 auto;
}

.results-header {
  padding-bottom: 12px;
  > span {
    font-weight: bold;
  }

  div {
    float: right;
    margin-right: 15px;
  }


  div > a {
    text-decoration: none;
    position: relative;
  }
  
  div > a:after  {
    position: absolute;
    top: 5px;
    left: 60px;
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 3px 0 3px;
    border-color: RGB(203, 204, 201) transparent transparent transparent;
  }
}

.results-content {
  margin: 0 auto;

  .listing {
    float: left;
    background-color: white;
    text-align: center;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    padding-bottom: 10px;
    width: 222px;
    border-radius: 3px;

    &:hover {
      border-color:#DDD;
      border-bottom-color:#BBB;
      box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);
      text-decoration:none;
    }

    > .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;

      a {
        color: $text-color;
      }
    }


    > a img {
      height: 170px;
    }
  
    .listing-footer {
      span:first-child {
        float: left;
        color: RGB(178, 178, 178);
        a {
          color: RGB(178, 178, 178);
        }
      }
      span:last-child {
        color: $price-color;
        float: right;
      }
    }
  
  
  }

  .listing:nth-child(3n + 1) {
    clear: left;
  }


}











