 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$text-color: RGB(102, 102, 102);
$side-bar-text-color: RGB(1, 146, 181);
$body-color: RGB(245, 245, 241);
body {
  background: $body-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.page-container {
  margin: 0 auto;
  overflow: auto;
}

.header {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 75px;
  background-color: white;
}

.content {
  overflow: auto;
  margin: 0 auto;
  width: 80%;
}

.side-bar {
  float: left;
  margin: 0 auto;
}

.side-bar-content {
  background-color: white;

  .item-type > ul, .category {
    list-style-type: none;
  }
}


.results {
  float: left;
  margin: 0 auto;
}

.results-header {

}
