 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$text-color: RGB(102, 102, 102);
$link-color: RGB(1, 146, 181);
$body-color: RGB(245, 245, 241);
$price-color: RGB(120, 192, 66);

body {
  background: $body-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
  font-size: 12px;
}

.page-container {
  margin: 0 auto;
  overflow: auto;
}

.header {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 75px;
  background-color: white;
}

.content {
  overflow: auto;
  margin: 0 auto;
  width: 90%;
}

.side-bar {
  float: left;
  margin: 0 auto;
}

.side-bar-content {
  background-color: white;

  .item-type > ul, .category {
    list-style-type: none;
  }
}


.results {
  float: left;
  margin: 0 auto;
}

.results-header {
   div {
    float: right;
  }
}

.results-content {
  margin: 0 auto;

  .listing {
    float: left;
    background-color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 222px;
    border-radius: 2%;

    > .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }


    > img {
      //width: 135px;
      height: 170px;
    }
  
    .listing-footer {
      span:first-child {
        float: left;
        color: RGB(178, 178, 178);
      }
      span:last-child {
        color: $price-color;
        float: right;
      }
    }
  
  
  }

  .listing:nth-child(3n + 1) {
    clear: left;
  }


}











